<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Template</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="./app.css" />
</head>

<body>
  <form class="form form-login">
    <input type="text" placeholder="Text" class="input" name="username">
    <input type="password" name="password" id="" class="password" placeholder="Enter your password">
    <button type="submit" class="btn">Submit</button>
  </form>
  <div class="username"></div>
</body>
<script defer src="./starter.js"></script>

</html>