.containers {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(https://i.stack.imgur.com/pMAiU.jpg);
  background-repeat: repeat;
  margin-top: -5px;
  .container {
    margin: 5px;
    .header-wrapper {
      display: flex;
      justify-content: space-between;
      height: 40px;
      border-bottom: 2px solid #888;
      margin-bottom: 10px;
      .header-title {
        h1 {
          margin: 8px 5px;
          font-size: large;
          font-weight: bold;
          color: #dd4;
        }
      }
      .view-all {
        margin-top: 20px;
        display: flex;
        a {
          margin: -5px 5px 0 0;
          color: #bbb;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      .item {
        box-sizing: border-box;
        width: 25%;
        padding: 5px;
        .item-content {
          border: 1px solid #333;
          .main-image {
            img {
              display: block;
              width: 100%;
            }
            .category {
              span {
              }
            }
          }
          h2 {
            a {
            }
          }
          .desc {
          }
          .time {
          }
        }
      }
    }
  }
}
